.sidebar {
    width: 100%;
    min-width: 150px;
    flex: 1;
    padding: 20px 16px;
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    transition: background .2s, border-color .2s;
    flex-shrink: 1;
}

.sidebar-title {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .06em;
    color: var(--text-muted);
    font-weight: 500;
}

.filter-opts-grid {
    display: grid;
    gap: 4px;
}
.filter-icon {
    width: 10px;
    height: 16px;
    /*object-fit: contain;*/
}

.filter-group { display: flex; flex-direction: column; gap: 4px; }
.filter-group-label { font-size: 13px; color: var(--text-sub); margin-bottom: 2px; }

.filter-opt {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    text-align: left;
    color: var(--text);
    transition: background .15s, border-color .15s;
}
.filter-opt.selected {
    background: var(--filter-sel);
    border-color: var(--border-hover);
    font-weight: 500;
}
.filter-opt:hover:not(.selected) { background: var(--filter-hover); }

@media (max-width: 700px) {

    .animal-filter{
        min-width: 200px !important;
    }

    .filter-opts-grid {
        grid-template-columns: 1fr !important;
    }
}

.select-filter {
    width: 100%;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: var(--input-bg);
    color: var(--text);
    font-size: 13px;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    transition: border-color .15s;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23888' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 28px;
}

.select-filter:focus {
    border-color: var(--border-hover);
}

.search-bar {
    padding: 16px 0 16px 0;
    background: var(--bg);
    flex-shrink: 0;
    transition: background .2s;
}
.search-bar input {
    width: 100%;
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid var(--border);
    background: var(--input-bg);
    font-size: 14px;
    color: var(--text);
    outline: none;
    transition: background .2s, border-color .15s, color .2s;
}
.search-bar input:focus { border-color: var(--border-hover); }
.search-bar input::placeholder { color: var(--text-muted); }

